app.component.scss .container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
}

.sidenav-container {
  width: 100%;
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4px 2px 8px 8px; /* Add margin for floating effect */
  border-radius: 16px; /* Rounded corners for floating look */
  box-shadow: 2px 4px 8px 2px rgba(0.15, 0.15, 0.15, 0.15); /* Black glow shadow */
  z-index: 2;
}

.main-content {
  padding: 24px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
